version: '3.8'

services:
  webapi:
    build: .
    ports:
      - "80:80"
      - "443:443"
    environment:
      - ASPNETCORE_URLS=https://+:443;http://+:80
      - ASPNETCORE_HTTPS_PORT=443
      - ASPNETCORE_Kestrel__Certificates__Default__Password=password123
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - ConnectionStrings__PostgresConnectionUsers=Host=postgres;Database=users_docker;Username=postgres;Password=Ambhist;Pooling=true
    volumes:
      - ~/.aspnet/https:/https:ro
    depends_on:
      - postgres
    networks:
      - app-network

  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: users_docker
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Ambhist
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge